.container {
  position: relative;
  padding: var(--chakra-space-8) 0;
  width: 100%;
}

.highlight {
  position: absolute;
  top: calc(50% + 1px);
  left: calc(50% - 1px);
  transform: translate(-50%, -50%);
}

.input {
  &.isSuccess {
    border-color: var(--chakra-colors-green-500);
  }
}